<head>

<environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/css/normalize.css" />
        <link rel="stylesheet" href="~/css/mainpage.css" /> 
    </environment>
</head>
<section class="main">
    
    <section class="filters">
    </section>

    <section class="main-content">
        <div class="card tour" >
            <img class="card-img-top" src="~/img/1.jpg" alt="Card image cap">   
            <div class="card-body">
                <div class="tour-statistic"> 
                <a class="view-statistic"> <span><i class="fa fa-eye" aria-hidden="true"></i></span>13216</a>
                <a class="view-comments"> <span><i class="icon-comment" aria-hidden="true"></i></span>23</a>
                </div>
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card tour" >
            <img class="card-img-top" src="~/img/1.jpg" alt="Card image cap">   
            <div class="card-body">
                <div class="tour-statistic"> 
                <a class="view-statistic"> <span><i class="fa fa-eye" aria-hidden="true"></i></span>13216</a>
                <a class="view-comments"> <span><i class="icon-comment" aria-hidden="true"></i></span>23</a>
                </div>
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card tour" >
            <img class="card-img-top" src="~/img/1.jpg" alt="Card image cap">   
            <div class="card-body">
                <div class="tour-statistic"> 
                <a class="view-statistic"> <span><i class="fa fa-eye" aria-hidden="true"></i></span>13216</a>
                <a class="view-comments"> <span><i class="icon-comment" aria-hidden="true"></i></span>23</a>
                </div>
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card tour" >
            <img class="card-img-top" src="~/img/1.jpg" alt="Card image cap">   
            <div class="card-body">
                <div class="tour-statistic"> 
                <a class="view-statistic"> <span><i class="fa fa-eye" aria-hidden="true"></i></span>13216</a>
                <a class="view-comments"> <span><i class="icon-comment" aria-hidden="true"></i></span>23</a>
                </div>
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card tour" >
            <img class="card-img-top" src="~/img/1.jpg" alt="Card image cap">   
            <div class="card-body">
                <div class="tour-statistic"> 
                <a class="view-statistic"> <span><i class="fa fa-eye" aria-hidden="true"></i></span>13216</a>
                <a class="view-comments"> <span><i class="icon-comment" aria-hidden="true"></i></span>23</a>
                </div>
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card tour" >
            <img class="card-img-top" src="~/img/1.jpg" alt="Card image cap">   
            <div class="card-body">
                <div class="tour-statistic"> 
                <a class="view-statistic"> <span><i class="fa fa-eye" aria-hidden="true"></i></span>13216</a>
                <a class="view-comments"> <span><i class="icon-comment" aria-hidden="true"></i></span>23</a>
                </div>
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card tour" >
            <img class="card-img-top" src="~/img/1.jpg" alt="Card image cap">   
            <div class="card-body">
                <div class="tour-statistic"> 
                <a class="view-statistic"> <span><i class="fa fa-eye" aria-hidden="true"></i></span>13216</a>
                <a class="view-comments"> <span><i class="icon-comment" aria-hidden="true"></i></span>23</a>
                </div>
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card tour" >
            <img class="card-img-top" src="~/img/1.jpg" alt="Card image cap">   
            <div class="card-body">
                <div class="tour-statistic"> 
                <a class="view-statistic"> <span><i class="fa fa-eye" aria-hidden="true"></i></span>13216</a>
                <a class="view-comments"> <span><i class="icon-comment" aria-hidden="true"></i></span>23</a>
                </div>
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card tour" >
            <img class="card-img-top" src="~/img/1.jpg" alt="Card image cap">   
            <div class="card-body">
                <div class="tour-statistic"> 
                <a class="view-statistic"> <span><i class="fa fa-eye" aria-hidden="true"></i></span>13216</a>
                <a class="view-comments"> <span><i class="icon-comment" aria-hidden="true"></i></span>23</a>
                </div>
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>



    </section>

</section>